/* Don't change the existing CSS. */

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

.box {
  padding: 10px;
  background: blue;
}

.white-text {
  color: white;
}

.inner-box {
  background: red;
}

#outer-box {
  background: mediumorchid;
}